# Data Generation

In [4]:
import pandas as pd
import numpy as np

In [12]:
df = pd.DataFrame(columns=['time', 'heartrate', 'conductance', 'blood pressure'])

In [16]:
for t in range(60*24):
    if (t % 77 == 0): # some hack simulating sensors going crazy
        df.loc[t] = [t, np.random.normal(100, 50), np.random.normal(10, 20), np.random.normal(110, 80)]
    df.loc[t] = [t, np.random.normal(80, 10), np.random.normal(10, 5), np.random.normal(110, 10)]

In [14]:
df.to_csv('sensor_daily.csv')

# Anomaly Detection

Detecting records beyond 2 SD from mean.

In [38]:
means = df.mean(axis=0)

In [46]:
stds = df.std(axis=0)

In [75]:
upper = means+3*stds
upper[1]

110.64849721233497

In [76]:
lower = means-3*stds
lower[1]

49.315630363703718

In [77]:
anom = (df['heartrate'] < lower[1]) | (df['heartrate'] > upper[1]) | \
(df['conductance'] < lower[2]) | (df['conductance'] > upper[2]) | \
(df['blood pressure'] < lower[3]) | (df['blood pressure'] > upper[3])

In [78]:
anom

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1410    False
1411    False
1412    False
1413    False
1414    False
1415    False
1416    False
1417    False
1418    False
1419    False
1420    False
1421    False
1422    False
1423    False
1424    False
1425    False
1426    False
1427    False
1428    False
1429    False
1430    False
1431    False
1432    False
1433    False
1434    False
1435    False
1436     True
1437    False
1438    False
1439    False
Length: 1440, dtype: bool

In [80]:
df[anom]

        time   heartrate  conductance  blood pressure
203    203.0   87.245247     9.494816       72.912931
472    472.0   95.075035     7.160689       79.502506
494    494.0   75.504789    -6.606019      104.797873
504    504.0   80.216906    13.362391       78.744552
670    670.0   82.290135    13.624991      140.085853
689    689.0   75.167012    25.671027       89.324044
974    974.0   45.813330     7.505333      111.091536
1157  1157.0   77.098825     7.183017      144.071122
1182  1182.0   89.070933    28.253537      100.695004
1364  1364.0  114.048627     6.136434      103.237972
1436  1436.0   81.221730    28.749964      112.568513